[submodule "doubleslash-opus-libopus"]
	path = rust/doubleslash-opus/opus
	url = https://github.com/xiph/opus
	ignore = untracked
[submodule "rust/doubleslash-vpx/libvpx"]
	path = rust/doubleslash-vpx/libvpx
	url = https://github.com/webmproject/libvpx
	branch = main
